@import '../../styles/styles.scss';



.my-container{
    background-color: $sideBar;
    width : 50rem;
    height : 30rem;
    border-radius:20px ;
}


.form-select, 
.form-control{
    background-color: white!important;
}