@import '../../styles/styles.scss';
.projectBackground {

    background-color: $sideBar;
}
.projectButton {

    background-color: $pageBackground;
}
.projectButtonCreate {

    background-color: $createButtonProject;
    color: $white;
}
.projectButtonReturn {

    background-color: $returnButton;
    color: $white;
}