<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="table.css">
</head>

<body>
  <div class="container">
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Statut</th>
            <th scope="col">Durée</th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin prévue</th>
            <th scope="col">Client</th>
            <th scope="col">Développeur</th>
            <th scope="col">Testeur</th>
            <th scope="col">Stageur</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Technologies</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Projet 1</td>
            <td class="statut">
              <div class="test"></div>
              <span>Test</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>WEB</td>
            <td><button>Voir</button></td>
          </tr>
          <tr>
            <td>Projet 2</td>
            <td class="statut">
              <div class="prod"></div>
              <span>Prod</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>Mobile</td>
            <td><button>Voir</button></td>
          </tr>
          <tr>
            <td>Projet 3</td>
            <td class="statut">
              <div class="dev"></div>
              <span>Dev</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>Java</td>
            <td><button>Voir</button></td>
          </tr>
          <tr>
            <td>Projet 4</td>
            <td class="statut">
              <div class="stage"></div>
              <span>Stage</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>WEB</td>
            <td><button>Voir</button></td>
          </tr>
          <tr>
            <td>Projet 5</td>
            <td class="statut">
              <div class="prod"></div>
              <span>Prod</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>Mobile</td>
            <td><button>Voir</button></td>
          </tr>
          <tr>
            <td>Projet 6</td>
            <td class="statut">
              <div class="cdc"></div>
              <span>CDC</span>
            </td>
            <td>x</td>
            <td>jj/mm/aaaa</td>
            <td>jj/mm/aaaa</td>
            <td>Nom Prénom</td>
            <td>vigs1</td>
            <td>vigs2</td>
            <td>vigs3</td>
            <td>Commentaire</td>
            <td>WEB</td>
            <td><button>Voir</button></td>
          </tr>
        </tbody>
      </table>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>