// @import '../../styles/styles.scss';
// @import '../status/status.scss';

.container {
    margin-top: 10px;
}

.table {
    padding: 0;
    width: 1200px;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0px;

    .statut {
        display: flex;
        align-items: center;
        padding-top: 11px;
        padding-bottom: 16px;
    }

    th, td {
        padding: 10px;
    }

    th {
        color: $pageBackground;
        background-color: white;
        font-weight: 600;
        border: 0;

        &:first-child {
            border-top-left-radius: 10px;
        }

        &:last-child {
            border-top-right-radius: 10px;
        }
    }

    td {
        background-color: $rowCollor;
        color: white;

        &:first-child {
            border-left: 1px solid white;
        }

        &:last-child {
            border-right: 1px solid white;
        }
    }

    tr {
        &:last-child {

            td {
                &:first-child {
                    border-bottom-left-radius: 10px;
                }

                &:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}