body {
    background-color: rgba(100, 130, 173, 1);
}

span {
    color: white;
}

.main {
    text-align: center;
}

// Début STATUT TACHES

.waiting {
    width: 15px;
    height: 15px;
    background-color: red; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.finished {
    width: 15px;
    height: 15px;
    background-color: green; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.doing {
    width: 15px;
    height: 15px;
    background-color: orange; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

// FIN STATUT TACHES

// DEBUT STATUT PROJET

.test {
    width: 15px;
    height: 15px;
    background-color: cyan; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.prod {
    width: 15px;
    height: 15px;
    background-color: yellowgreen; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.stage {
    width: 15px;
    height: 15px;
    background-color: yellow; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}


.dev {
    width: 15px;
    height: 15px;
    background-color: orange; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.doing {
    width: 15px;
    height: 15px;
    background-color: orange; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}

.cdc {
    width: 15px;
    height: 15px;
    background-color: purple; 
    border-radius: 6px; 
    display: inline-block; 
    margin-right: 10px;
}
