@charset "UTF-8";

/*Profiles*/
.container-fluid {
  background-color: rgba(100, 130, 173, 1);
  height: 100vh;
}
.sidebar {
  background-color:rgba(127, 161, 195, 1);
}
.dashboard__title {
  color: rgba(245, 237, 237, 1);
}
.dashboard__body{
  border-bottom: 1px solid white;
}
.filter__title {
  margin-left: 40rem;
  margin-right: 5px;
}
.filter-size{
  width: 130px;
}
.filter-size::placeholder{
  text-align: center !important;
}
.rounded-table {
  border-radius: 15px;
  overflow: hidden;
}
.user__body {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.user__icon i {
  color: rgb(255, 255, 255);
  font-size: 50px;
  width: 50px;
  height: 50px;
}

/*admin*/
.admin {
  background-color: rgb(170, 18, 18);
}
/*manager*/
.manager {
  background-color: rgb(55, 24, 94);
}
/*collaborateur*/
.collab {
  background-color: rgb(100, 130, 173);
}

/*navBars*/
.house_img{
  width: 14px;
  height: 23px;
  position: relative;
  bottom: 3px;
  color: white;
}

.img_arrow{
  width: 14px;
  height: 23px;
}

.nav-item .nav-link.active + .img_arrow i {
  font-size: 34px;
  position: relative;
  right: 3px;
  bottom: 8px;
}

.nav-item .nav-link {
  flex: 1 1 auto;
  color: white;
}
.nav-item .nav-link::before {
  content: "•";
  font-size: 24px;
  margin-right: 30px;
  line-height: 1;
  position: relative;
  top: 2px;
}
.nav-item .nav-link:hover {
  color: rgb(32, 210, 169);
}
.nav-item .nav-link.active {
  font-weight: bold;
}
.nav-item .nav-link.active + .img i {
  font-size: 34px;
  position: relative;
  right: 3px;
  bottom: 8px;
}
.nav-item .nav-link.active:hover {
  color: white;
}
.nav-item .bi-chevron-right {
  color: white;
}
/*Logout Button*/
.logout__btn {
  background-color: rgba(248, 60, 60, 1);
}
.logout__btn:hover{
  background-color: rgb(150, 41, 41);
}
.logout_img{
  position: relative;
  left: 0px;
  right: 20px;
  bottom: 2px;
  width: 20px;
  height: 20px;
}

/*Notifications (Bell)*/
.search__body{
  color: white;
  border-bottom: 1px solid white;
}
.notif__bar {
  background-color:rgba(127, 161, 195, 1);
}

/*Position actuelle + Search Bar*/
.search-bar input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.search-bar .input-group-text {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.btn-custom {
  margin-left: 20px;
  border-radius: 50px;
  background-color: rgb(76, 146, 137);
  color: white;
}

.btn-custom:hover {
  background-color: rgb(76, 146, 137);
  color: white;
}

.search-bar input:focus {
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.bi-search {
  color: white;
}

.filterButton {
  background-color: rgb(100, 130, 173);
}

.dateControl::-moz-placeholder {
  color: rgb(127, 161, 195);
}

.dateControl::placeholder {
  color: rgb(127, 161, 195);
}

.fontWhite {
  color: rgb(255, 255, 255);
}

/*Login Menu*/
.mainLogIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  text-align: center;
}

.inputLogIn {
  margin: 30px 0;
}

.form-control {
  width: 30vw;
}

.forgottenPass {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.buttonsLogIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connectionButton {
  color: white;
  text-decoration: none;
  background-color: rgb(37, 150, 190);
  padding: 10px;
  border-radius: 50px;
}

.footerLogIn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 20px;
}

.sendingButton {
  color: white;
  text-decoration: none;
  background-color: rgb(37, 150, 190);
  padding: 10px 30px;
  border-radius: 50px;
}



/*# sourceMappingURL=styles.css.map */