$pageBackground : rgba(100, 130, 173, 1); //Background
$sideBar : rgba(127, 161, 195, 1); //SideBar
$logOut : rgba(248, 60, 60, 1); //Déconnexion
$searchButton : rgb(76, 146, 137); //dividers
$paginationActive : rgb(6,24,69); //Boutton actf de la pagination
$createButtonProject: rgb(32, 210, 169); //Boutton de création de projet
$returnButton: rgb(35,28,138); //Boutton retour
$returnButtonPag: rgb(103, 103, 103); //Boutton retour de la pagination
$managerColor: rgb(55, 24, 94);
$adminColor: rgb(170, 18, 18);