$pageBackground: rgba(100, 130, 173, 1);
$sideBar: rgba(127, 161, 195, 1);
$logOut: rgba(248, 60, 60, 1);
$searchButton: rgb(76, 146, 137);
$paginationActive: rgb(6, 24, 69);
$createButtonProject: rgb(32, 210, 169);
$returnButton: rgb(35, 28, 138);
$returnButtonPag: rgb(103, 103, 103);
$bellColor: rgb(37, 150, 190);
$white: rgb(255, 255, 255);
$managerColor: rgb(55, 24, 94);
$adminColor: rgba(248, 60, 60, 1);
//tableaux
$rowCollor: rgba(127, 161, 195);

.page {
  background-color: $pageBackground;
}

.bell {
  background-color: $bellColor;
}

.filterButton {
  background-color: $pageBackground;
}

.dateControl::placeholder {

  color: $sideBar;
}

.fontWhite {
  color: $white
}

//Media Queries

@media (min-width:2100px) {

  .midbar {

    background-color:rgba(127, 161, 195, 1)!important;
    width: 47vw!important;
    height: 10vh!important;
  
  
  }



}



@media (max-width:1400px) {

  .admin,
  .manager,
  .collab {
    background-color: transparent !important;
  }

  .nav-item .nav-link::before {
    display: none !important;
  }

  .img_arrow {
    display: none !important;
  }
  .midbar {

    background-color:rgba(127, 161, 195, 1)!important;
    width: 90%!important;
    height: 20vh!important;
  
  
  }
  .midtable {

    border: white solid 1px;
    border-radius: 12px!important;
    caption-side: bottom;
      border-collapse:collapse!important;
      margin-left: auto!important;
      margin-right: auto!important;
      margin-top: 0rem!important;
    
  }
  .view-collab-tasks {
    background-color: $returnButton;
    margin-top: 2rem!important;
    margin-left: 6.5rem!important;
    margin-bottom: 2rem!important;
  }

}

@media (max-width: 992px) {

  .sidebar .user__name,
  .sidebar .user__role {
    font-size: 14px !important;
  }

  .btn_newproj {
    font-size: 14px !important;
    padding: 10px !important;
  }

  .newProjectCard {

    position: relative !important;

    width: 600px !important;
    left: 4% !important;
    max-width: 95vw !important;



  }

  .step-container {

    display: none !important;
  }
  .midtable {

    border: white solid 1px;
    border-radius: 12px!important;
    caption-side: bottom;
      border-collapse:collapse!important;
      margin-left: auto!important;
      margin-top: 1rem!important;
    
  }

}

@media (max-width: 768px) {
  .midtable {

    border: white solid 1px;
    border-radius: 12px!important;
    caption-side: bottom;
      border-collapse:collapse!important;
      margin-left: auto!important;
    overflow: visible!important;
    width: 100vw!important;
    right: 10rem!important;
    overflow-y: auto!important;
    margin-top: 0rem!important;
   
    
  }
  .view-collab-tasks {

    height:4rem;
    width: 8rem;
  }
  .midbar {

    background-color:rgba(127, 161, 195, 1)!important;
    width: 100%!important;
    height: 40vh!important;
  
  
  }

  // $i: !important;
  .container-fluid {
    padding: 0 !important;
    // height: 120vh !important;
  }

  .sidebar {
    width: 5% !important;
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 0.7rem !important;
  }

  .admin,
  .manager,
  .collab {

    margin-left: 12rem !important;

    .user__name {
      width: 5rem !important;
    }
  }

  .collab {
    margin-left: 7rem !important;

  }

  .user__icon i {
    font-size: 1.9rem !important;
  }

  .navbar {
    position: relative !important;
    bottom: 3.3rem !important;
  }

  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 10rem;
    background-color: rgb(23, 81, 87);
    margin-top: 0.5rem !important;
    z-index: 100 !important;
    height: 110vh;
  }

  .dashboard__body {
    font-size: 14px !important;
    margin: 0 !important;
    padding: 0.3rem 0 1rem 0 !important;
  }

  .btn_newproj {
    // margin: 0 0 !important;
    width: 11rem !important;
    height: 2.3rem !important;
  }

  .newproj__content {
    margin: -2rem 0 !important;
    // margin-bottom: 0 !important;
  }

  .nav__ul {
    margin: 0 !important;
    font-size: 15px !important;

    .nav-item {
      margin: 0.3rem 6rem 0 -0.5rem !important;
      text-align: center;
    }
  }

  .logout__btn {
    position: relative;
    bottom: 2rem;
  }

  .navbar-toggler {
    display: block !important;
    margin-left: 0.5rem !important;
  }

  .logout__btn {
    margin-top: 3rem !important;
    margin-bottom: 5.4rem !important;
  }

  .notif__bar {
    margin: 0 !important;
    background-color: transparent !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding: 0.5rem !important;
    font-size: 0.8rem !important;
  }

  .search__body {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    padding-bottom: 0 !important;
    margin-top: 1rem !important;
    margin-left: -5rem !important;
    margin-right: 0rem !important;
    border-bottom: 0 !important;

    .title__text {
      // margin-bottom: 1rem !important;
      margin-left: 0 !important;
    }

    .input-group {
      height: 2rem !important;
      flex-wrap: nowrap !important;
    }

    .input-group-text {
      padding: 0 0 0 0.5rem !important;
    }

    .input-group .form-control {
      width: 12rem !important;
    }

    .btn-custom {
      margin: 0 0 0 1rem !important;
      height: 2rem !important;
      line-height: 1rem !important;
    }
    
  }

  .filter__section {
    margin-left: -7.3rem;

    .sp {
      width: 0 !important;
    }

    .col-2 {
      margin: 0 4.2rem 0 3rem;
    }

    .filterButton {
      margin-left: 1.6rem;
      height: 1.6rem;
      line-height: 0rem !important;
    }

    .dateControl {
      margin-left: 1.5rem;
      width: 7rem !important;
      height: 1.5rem;

      &#endDate {
        margin-left: 3rem;
      }
    }
  }

  .btn-custom {
    margin-top: 1rem !important;
  }

  .upper_table {
    margin: 2rem 0 -0.5rem -5.6rem !important;
    color: white;
  }

  .table_resp_pos {
    margin-left: -6rem !important;
    border-top: none !important;
  }

  .proj-table {
    margin-top: 1rem !important;
    margin-right: 0 !important;
    font-size: 0.8rem !important;
    border: 0 !important;
  }

  .pagination {
    margin: 1rem 5rem 0 0 !important;
  }

  .params {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 0 !important;
  }

  .params .col {
    display: flex;
  }

  .params-collab {
    display: flex !important;
    flex-direction: column !important;
  }

  .card-param {
    position: relative;
    right: 2.5rem;
    width: 600px !important;
  }

  .diag-param {
    // right: 1.0rem;
    width: 600px !important;
  }

  .card-collab {
    position: relative;
    right: 2.5rem;
  }

  .tables-overflow-scroll .btn-custom {
    margin-right: 2rem;
  }

  .newProjectCard {

    position: absolute !important;

    width: 600px !important;
    left: 4% !important;
    max-width: 95vw !important;



  }

  .step-container {

    display: none !important;
  }

  .diag {
    // margin-right: -10rem !important;
    margin-left: -2rem !important;
    overflow: scroll;
  }


  // Scrollbar responsive mode
  /* Webkit */
  .table-responsive {
    // overflow: scroll !important; 
    scrollbar-width: auto !important;
  }

  .table-responsive::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
  }

  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
    border-radius: 6px !important;
  }

  .table-responsive::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 6px !important;

    .table-responsive::-webkit-scrollbar-thumb {
      background-color: #ffffff !important;
      border-radius: 6px !important;
    }

    .table-responsive::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1) !important;
      border-radius: 6px !important;
    }


    /* Firefox */
    .table-responsive {
      scrollbar-width: thin !important;
      scrollbar-color: white rgba(0, 0, 0, 0.1) !important;
    }
  }
}
// Scrollbar responsive mode (bonus) delete if it makes issues

//Page de connexion

.mainLogIn input {
    width: 25rem;
}

.inputLogIn {
  margin: 30px 0;
}

.form-control {
  width: auto;
}

.forgottenPass {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.buttonsLogIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connectionButton {
  color: white;
  text-decoration: none;
  background-color: $bellColor;
  padding: 10px;
  border-radius: 50px;
}

.footerLogIn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 20px;
}

.sendingButton {
  color: white;
  text-decoration: none;
  background-color: $bellColor;
  padding: 10px 30px;
  border-radius: 50px;
}

.container-fluid {
  overflow: hidden;
  background-color: rgba(100, 130, 173, 1);
  // height: 100vh;
}
.sidebar {
  background-color:rgba(127, 161, 195, 1);
  height: 96vh;
  // @media (min-height: 1081px) and (max-height:1201px) {
  //   height: 10vh;
  // }
}
.dashboard__title {
  color: rgba(245, 237, 237, 1);
  font-weight: 600;
}
.dashboard__body{
  border-bottom: 1px solid white;
}
/*Button Nouveau Projet*/
.btn_newproj{
  background-color: $pageBackground;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;

  
  &:hover{
    background-color: $createButtonProject;
  }
}

.filter__title {
  margin-left: 40rem;
  margin-right: 5px;
}
.filter-size{
  width: 130px;
}
.filter-size::placeholder{
  text-align: center !important;
}
.rounded-table {
  border-radius: 15px;
  overflow: hidden;
}
.user__body {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.user__icon i {
  color: rgb(255, 255, 255);
  font-size: 50px;
  width: 50px;
  height: 50px;
}

/*admin*/
.admin {
  margin: 0 4rem;
  background-color: $adminColor;
}
/*manager*/
.manager {
  margin: 0 4rem;
  background-color: $managerColor;
}
/*collaborateur*/
.collab {
  margin: 0 4rem;
  background-color: rgb(100, 130, 173);
}

/*navBars*/
.house_img{
  width: 14px;
  height: 23px;
  position: relative;
  bottom: 3px;
  color: white; 
}

.img_arrow{
  width: 14px;
  height: 23px;
  position: relative;
  right: 3px;
  bottom: 0.4rem;
}

.navdash{
  display: flex;
  flex-direction: column;
}
.navbar-collapse {
  transition: none !important; // anim bug
}
.nav-item .nav-link.active + .img_arrow i {
  font-size: 34px;
  position: relative;
  right: 3px;
  bottom: 8px;
}

.nav-item .nav-link {
  flex: 1 1 auto;
  color: white;

  @media (min-height:1200px){
    font-size: 22px;
    line-height: 40px;
  }
}
.nav-item .nav-link::before {
  content: "•";
  font-size: 24px;
  margin-right: 30px;
  line-height: 1;
  position: relative;
  top: 2px;
}
.nav-item .nav-link:hover {
  font-weight: bold;
}
.nav-item .nav-link.active {
  font-weight: bold;
}
.nav-item .nav-link.active + .img_arrow i {
  font-size: 34px;
  position: relative;
  right: 3px;
  bottom: 8px;

  @media (min-height:1199px){
    font-size: 40px;
  }
}

.nav-item .bi-chevron-right {
  color: white;
  @media (min-height:1199px){
    font-size: 36px;
  }
}
/*Logout Button*/
.logout__btn {
  background-color: rgba(248, 60, 60, 1);
  display: inline-flex;
  align-items: center;
  margin-top: 8rem;

  @media (min-height:1199px){
    margin-top: 20rem;
  }
}
.logout__btn:hover{
  background-color: rgb(150, 41, 41);
}
.logout__img{
  width: 20px;
  height: 20px;
}

/*Notifications (Bell)*/
.search__body{
  color: white;
  border-bottom: 1px solid white;
}
.notif__bar {
  background-color:rgba(127, 161, 195, 1);
}

/*Position actuelle + Search Bar*/
.search-bar input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.search-bar .input-group-text {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.upper_table {
  color: white;
}

.btn-custom {
  margin-left: 20px;
  border-radius: 50px;
  background-color: rgb(76, 146, 137);
  color: white;
}

.btn-custom:hover {
  color: white;
}

.search-bar input:focus {
  background-color: rgb(127, 161, 195);
  border-color: rgb(127, 161, 195);
}

.bi-search {
  color: white;
}

.filterButton {
  background-color: $sideBar;
}

.dateControl::-moz-placeholder {
  color: rgb(127, 161, 195);
}

.dateControl::placeholder {
  color: rgb(127, 161, 195);
}

.fontWhite {
  color: rgb(255, 255, 255);
}

/*Login Menu*/
.mainLogIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  text-align: center;
}

.inputLogIn {
  margin: 30px 0;
}


.forgottenPass {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.buttonsLogIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connectionButton {
  color: white;
  text-decoration: none;
  background-color: rgb(37, 150, 190);
  padding: 10px;
  border-radius: 50px;
}

.footerLogIn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 20px;
}

.sendingButton {
  color: white;
  text-decoration: none;
  background-color: rgb(37, 150, 190);
  padding: 10px 30px;
  border-radius: 50px;
}

$activeFolder : rgb(6, 24, 69);
$passiveFolder : rgb(76, 146, 137);


.step-container {
    display: flex;
    flex-direction: column;  
    align-items: center;  
}   

//Style des boutons
.activeF{
    background-color: $activeFolder;
    color: white;
    border-top : 3px solid rgb(3, 11, 31)!important;
    border-right: 3px solid rgb(3, 11, 31)!important;
}

.passiveF{
    background-color: $passiveFolder;
    color: white;
    border-top : 3px solid rgb(36, 78, 73)!important;
    border-right: 3px solid rgb(36, 78, 73)!important;
}

//Chevauchement des boutons
.step-container .btn:nth-child(1) {
    z-index: 8;  
}
.step-container .btn:nth-child(2) {
    z-index: 7;  
}
.step-container .btn:nth-child(3) {
    z-index: 6;
}
.step-container .btn:nth-child(4) {
    z-index: 5;
}
.step-container .btn:nth-child(5) {
    z-index: 4;
}
.step-container .btn:nth-child(6) {
    z-index: 3;
}
.step-container .btn:nth-child(7) {
    z-index: 2;
}
.step-container .btn:nth-child(8) {
    z-index: 1;
}

//ligne collée au dessous 
.custom-hr {
    width: 50%;
    margin : 0;  
    border-top: 3px solid $passiveFolder;
    font-size: larger;
    margin-top: -3px;
}

.proj-table {
  padding: 0;
  width: 70vw;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0px;
  

  .statut {
      display: flex;
      align-items: center;
      padding-top: 0.6rem;
      padding-bottom: 2rem;
  }

  th {
      padding: 1rem;
  }

  th {
      color: $pageBackground;
      background-color: white;
      font-weight: 600;
      border: 0;

      &:first-child {
          border-top-left-radius: 10px;
      }

      &:last-child {
          border-top-right-radius: 10px;
      }
  }

  td {
      background-color: $rowCollor;
      color: white;

      &:first-child {
          border-left: 1px solid white;
      }

      &:last-child {
          border-right: 1px solid white;
      }
  }

  tr {
      &:last-child {

          td {
              &:first-child {
                  border-bottom-left-radius: 10px;
              }

              &:last-child {
                  border-bottom-right-radius: 10px;
              }
          }
      }
  }
}

.pagination{
  justify-content: center; /* Centers the pagination items */
  display: flex;
}

.waiting {
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.finished {
  width: 15px;
  height: 15px;
  background-color: green; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.doing {
  width: 15px;
  height: 15px;
  background-color: orange; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

// FIN STATUT TACHES

// DEBUT STATUT PROJET

.test {
  width: 15px;
  height: 15px;
  background-color: cyan; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.prod {
  width: 15px;
  height: 15px;
  background-color: yellowgreen; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.stage {
  width: 15px;
  height: 15px;
  background-color: yellow; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}


.dev {
  width: 15px;
  height: 15px;
  background-color: orange; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.doing {
  width: 15px;
  height: 15px;
  background-color: orange; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.cdc {
  width: 15px;
  height: 15px;
  background-color: purple; 
  border-radius: 6px; 
  display: inline-block; 
  margin-right: 10px;
}

.adminProject {
  margin-top: 50 px;
}

// Début Bouton Actions

.startingTask {
  background-color: green;
  border-color: green;
  border-radius: 20px;
  padding: 5px;
  width: 125px;
  color: white;
}

.finishedTask {
  background-color: grey;
  border-color: grey;
  border-radius: 20px;
  width: 125px;
  padding: 5px;
  color: white;
}

.endingTask {
  background-color: orange;
  border-color: orange;
  border-radius: 20px;
  width: 125px;
  padding: 5px;
  color: white;
}
//Page paramètres
.front-icons {
  color:$white;
}

//.card{
  // width: 20rem;
//}
.card-text {
  color:$white;
}

.title-card {
  color:$pageBackground;
}

.card-body {
  background-color:$pageBackground;
  height: 50vh;
}

.button-text {
  color:$white;
}

.button-icon {
  color:$white;
}
//Diagramme Statistique
.diagramme {
  color: white;
  background-color: rgba(100, 130, 173, 1);
}

// Début Bouton Editer

.editBtn {
  color: $sideBar;
  border-color: white;
  border-radius: 10px;
  width: 80px;
}

// projet
.newProjectNav {
  background-color: $sideBar; // Same background color as other navigational elements
  color: $white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  
  .nav-link {
    color: inherit !important;
    text-decoration: none !important;
    font-size: 1rem !important;
    position: relative !important;
    
    &::before {
      content: '•' !important;
      position: absolute !important;
      top: -15px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      font-size: 24px !important;
      color: transparent !important;
    }

    &.active {
      color: $createButtonProject !important;
      font-weight: bold !important;
      
      &::before {
        color: $createButtonProject !important; // Highlight the active step
      }
    }

    &:hover {
      color: lighten($createButtonProject, 10%) !important;
    }
  }
}

.newProjectCard {
  background-color: $sideBar;
  border-radius: 15px;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}


.newProjectForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    color: $sideBar;
    font-size: 1rem;
    font-weight: 600;
  }

 
}

button.btn-primary {
  background-color: $createButtonProject !important;
  border: none !important;
  padding: 10px 25px !important;
  font-size: 1rem !important;
  border-radius: 30px !important;
  color: $white !important;
  width: fit-content !important;
  align-self: flex-start !important;
  transition: background-color 0.3s ease !important;
  
  &:hover {
    background-color: darken($createButtonProject, 10%) !important;
  }
}
.projectInput {
  background-color: #fff !important;
}

// buttons

.projectBackground {

  background-color: $sideBar;
}
.projectButton {

  background-color: $pageBackground;
}
.projectButtonCreate {

  background-color: $createButtonProject;
  color: $white;
}
.projectButtonReturn {

  background-color: $returnButton;
  color: $white;
}
.projectButtonNext {

  background-color: $managerColor;
  color: $white;
}

.projectButton:hover {

  background-color: $pageBackground;
}
.projectButtonCreate:hover {

  background-color: $createButtonProject;
  color: $white;
}
.projectButtonReturn:hover {

  background-color: $returnButton;
  color: $white;
}
.projectButtonNext:hover {
  background-color: $managerColor;
  color: $white;
}

//Diagramme des stats des projets
.projet-diagramme {
  background-color: #ffffff;
}

.collab-diagramme {
  background-color: #ffffff;
}

//ParamScreen
.params {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 4rem;
}

.bottom_border{
  border-bottom: 1px solid white !important;
}
.tables-overflow-scroll{
  overflow: scroll;
  height: 78vh;
}

//Liste des collaborateurs
.myCustom-table tr th{
  background-color: #fff;
  color : $sideBar;
}

.myCustom-table tr td{
  background-color: $sideBar;
  color : white;
}

button.add-collaborator {
  background-color: $searchButton; 
  border-radius: 10px;
  border: none; 
  padding: 7px; 
  color: white; 
  font: inherit; 
  cursor: pointer; 
}

.bold {
  font-weight: bold;
}

.midbar {

  background-color:rgba(127, 161, 195, 1);
  width: 47vw;
  height: 30vh;
  margin-top: 5rem;


}

.midtable {

  border: white solid 1px;
  border-radius: 12px!important;
  caption-side: bottom;
    border-collapse:collapse!important;
    margin-left: 20rem;
    margin-top: 4rem;
    margin-right: 10rem;;
  
}
.row-custom {

  border-collapse: collapse;
}

.view-collab-tasks {
  background-color: $returnButton;
  margin-top: 2rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
}

.low_progress {
  padding: 5px;
  border-radius: 20px;
  background-color: red;
}

.mid_progress {
  padding: 5px;
  border-radius: 20px;
  background-color: orange;
}

.end_progress {
  padding: 5px;
  border-radius: 20px;
  background-color: green;
}

.adding_collab {
  background-color: $searchButton;
}

.modalContent {
  background-color: $sideBar;
  color: white;
}

.modal_confirm {
  background-color: $searchButton;
  color: white;
}

.modal_confirm:hover {
  background-color: $searchButton;
}

.modal_exit {
  background-color: $pageBackground;
  color: white;
}

.modal_exit:hover {
  background-color: $pageBackground;
}

//Page détail collab

.collabInfo{
  background-color: $sideBar;
}
.collabInfo i{
  color: #ffffff;
}

.collab-diagram{
  background-color: $sideBar;
  color : white;
}

.collab-diagram h2 {
  color: #ffffff;
}

.bottomTab{
  background-color: $sideBar;
}

