$pageBackground: rgba(100, 130, 173, 1); 
$sideBar: rgba(127, 161, 195, 1); 
$logOut: rgba(248, 60, 60, 1); 
$searchButton: rgb(76, 146, 137); 
$paginationActive: rgb(6, 24, 69); 
$createButtonProject: rgb(32, 210, 169); 
$returnButton: rgb(35, 28, 138);
$returnButtonPag: rgb(103, 103, 103); 
$bellColor: rgb(37, 150, 190);
$white: rgb(255,255,255);


.bell {
  background-color: $bellColor;
}
.filterButton {
  background-color: $pageBackground;
}
.dateControl::placeholder {

  color: $sideBar;
}

.fontWhite {
  color: $white
}

